.banner-container {
    margin-bottom: 70px;
}

.horizontal-line {
    border: 2px solid rgb(151, 19, 149);
}

.verse-container {
    margin: 50px;
    margin-bottom: 70px;
}

.verse-container:hover {
    background-color: rgba(137, 43, 226, 0.485);
}